/* --------
    fonts 
-------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* -------------
    common-utilities
    ---------------- */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfafa;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ----------
    header-part-style
    ------------- */
.main-header {
  padding: 0px 135px;
}
.header-part {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;
  padding: 0px 10px;
}
nav li:hover {
  background-color: lightblue;
}
nav li a {
  text-decoration: none;
  color: black;
}
/* -----------
    banner-part-style
    ------------- */
.banner-part {
  display: flex;
  margin-bottom: 60px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 70%;
  transition: transform 3s, width 1s;
}
.half-width img:hover {
  transform: rotate(360deg);
}
.banner-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
  margin-bottom: 0px;
}
.header-details {
  padding-bottom: 16px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(#e02c6d, #d65d89);
  padding: 10px 40px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 7px;
}
/* ----------
    logo-style
    ----------- */
.logo img {
  padding-right: 60px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* -----------
    item-part-style
    ------------ */
.collec-header {
  text-align: center;
  font-weight: 600;
  color: #3a3a3a;
  font-size: 28px;
  padding-bottom: 7px;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.item {
  width: 329px;
  background-color: #ffffff;
  border-radius: 7px;
}
.item .item-img img {
  width: 300px;
  height: 256px;
  padding: 15px 15px 0px 15px;
  border-radius: 7px;
}
.item-details {
  padding: 0px 15px;
  text-align: justify;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.see-more {
  text-align: right;
  padding: 50px 265px 100px 0px;
}
.see-more a {
  text-decoration: none;
  color: #e44780;
}
/* -----------
  footer-part-style
------------- */

.footer-details {
  color: #ffffff;
  background-color: #0a0826;
  text-align: center;
  padding: 50px;
}
.social-icon .fab {
  padding-right: 16px;
  font-size: 32px;
  text-decoration: none;
  color: #7b61ff;
}
