/* --------
    fonts 
-------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* -------------
    common-utilities
    ---------------- */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f1f1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ----------
    header-part-style
    ------------- */
.header-part {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;
  padding: 0px 10px;
}
nav li:hover {
  background-color: lightblue;
}
nav li a {
  text-decoration: none;
  color: black;
}

/* -----------
    banner-part-style
    ------------- */
.banner-part {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 50%;
}
/* ----------
    logo-style
    ----------- */
.logo img {
  padding-right: 60px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* -----------
    item-part-style
    ------------ */
.collec-header {
  text-align: center;
  font-weight: 600;
  color: #3a3a3a;
  font-size: 28px;
  padding-bottom: 7px;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.item {
  width: 329px;
  background-color: #ffffff;
  border-radius: 7px;
}
.item .item-img img {
  width: 300px;
  height: 256px;
  padding: 15px 15px 0px 15px;
  border-radius: 7px;
}
.item-details {
  padding: 0px 15px;
  text-align: justify;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
